# Server
APP_ENV=development
PORT=8080

# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
# Generate a random secret, e.g.: openssl rand -base64 32
TELEGRAM_WEBHOOK_SECRET=


# Database
DATABASE_URL=postgres://postgres:password@localhost:5432/omni-bot?sslmode=disable
ATLAS_DEV_URL=postgres://postgres:password@localhost:5432/omni-bot-atals?sslmode=disable
